In [40]:
x=int(input("enter the number of rows"))
for i in range(0,x):
    for j in range(0,i+1):
        print("*",end="")
    print()

enter the number of rows12
*
**
***
****
*****
******
*******
********
*********
**********
***********
************

In [41]:
x=int(input("enter the number of rows"))
for i in range (0,x):
    for j in range(0,i+1):
        print("+",end="")
    print()

enter the number of rows12
+
++
+++
++++
+++++
++++++
+++++++
++++++++
+++++++++
++++++++++
+++++++++++
++++++++++++

In [42]:
a=int(input("enter the number of rows"))
for i in range(0,a):
    for j in range(0,i+1):
        print("&",end="")
    print()

enter the number of rows12
&
&&
&&&
&&&&
&&&&&
&&&&&&
&&&&&&&
&&&&&&&&
&&&&&&&&&
&&&&&&&&&&
&&&&&&&&&&&
&&&&&&&&&&&&

In [43]:
a=int(input("enter the number of rows"))
k=2*a-a
for i in range(0,a):
    for j in range(0,k):
        print(end="")
    k=k-2
    for j in range (0,i+1):
        print("*",end="")
    print()

enter the number of rows12
*
**
***
****
*****
******
*******
********
*********
**********
***********
************

rows = int(input("Enter the number of rows:"))  
k = 2 * rows - 2  # It is used for number of spaces  
for i in range(0, rows):  
    for j in range(0, k):  
        print(end=" ")  
    k = k - 2   # decrement k value after each iteration  
    for j in range(0, i + 1):  
        print("* ", end="")  # printing star  
    print("")

In [44]:
a = int(input("enter the number of rows"))
k = a * 2 - 2
for i in range (0 , a):
    for  j in range (0 , k):
        print(end=" ")
    k = k - 2
    for j in range (0 , i + 1):
        print("* ", end="")
    print()

enter the number of rows12
                      *
                    * *
                  * * *
                * * * *
              * * * * *
            * * * * * *
          * * * * * * *
        * * * * * * * *
      * * * * * * * * *
    * * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * *

In [46]:
a=int(input("enter the number of rows"))
b=int(input("enter the number of rows"))
for i in range (0,a):
    for j in range(0,i+1):
        print("* ",end="")
    print()

k = b * 2 - 2
for x in range(0 , b):
    for y in range(0 , k):
        print (end=" ")
    k = k - 2
    for y  in range(0, x + 1):
        print("* ",end="")
    print()

enter the number of rows12
enter the number of rows12
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
                      *
                    * *
                  * * *
                * * * *
              * * * * *
            * * * * * *
          * * * * * * *
        * * * * * * * *
      * * * * * * * * *
    * * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * *

In [47]:
x=int(input("enter the number of rows :"))
y=int(input("enter the number of rows :"))
for i in range(0, x):
    for j in range (0, i+1):
        print("* ", end="")
    print()
    
k=y * 2 - 2
for a in range(0 , y):
    for b in range(0,k):
        print(end=" ")
    k=k-2
    for b in range(0,a+1):
        print("* ", end="")
    print()

enter the number of rows :12
enter the number of rows :12
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
                      *
                    * *
                  * * *
                * * * *
              * * * * *
            * * * * * *
          * * * * * * *
        * * * * * * * *
      * * * * * * * * *
    * * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * *

In [48]:
a=int(input("enter the number of rows :"))
for i in range(0,a):                                
    for j in range(0,i+1):
        print("* ", end="")
    print()
    
k=a*2-2
for i in range(0, a):
    for j in range(0,k):
        print(end=" ")
    k=k-2
    for j in range(0,i+1):
        print("* ",end="")
    print()

k=a*2-2
for i in range(0,a):
    for j in range(0, k):
        print(end=" ")
    k=k-2
    for j in range (0,i+1):
        print("*  ",end=" ")
    print()
    
c="super star"
d=list(c)
e=""
for g in d:
    e=e+g
    print(e)

enter the number of rows :12
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
                      *
                    * *
                  * * *
                * * * *
              * * * * *
            * * * * * *
          * * * * * * *
        * * * * * * * *
      * * * * * * * * *
    * * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * *
                      *
                    *   *
                  *   *   *
                *   *   *   *
              *   *   *   *   *
            *   *   *   *   *   *
          *   *   *   *   *   *   *
        *   *   *   *   *   *   *   *
      *   *   *   *   *   *   *   *   *
    *   *   *   *   *   *   *   *   *   *
  *   *   *   *   *   *   *   *   *   *   *
*   *   *   *   *   *   *   *   *   *   *   *
s
su
sup
supe
super
super
super s
super st
super sta
super star

In [49]:
a=int(input("enter the number of rows"))
for i in range(a+1,0,-1):
    for j in range(0,i-1):
        print("* ",end=" ")
    print()

enter the number of rows12
*  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [50]:
a=int(input("enter the number of rows"))
for i in range(a+1,0,-1):
    for j in range(0,i-1):
        print("* ",end=" ")
    print()
for i in range(0,a):
    for j in range(0,i+1):
        print("* ",end=" ")
    print()
for i in range(a+1,0,-1):
    for j in range(0,i-1):
        print("* ",end=" ")
    print()
for i in range(0,a):
    for j in range(0,i+1):
        print("* ",end=" ")
    print()

enter the number of rows12
*  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *

In [51]:
a=int(input("enter the number of rows :"))
k=a*2-2
for i in  range(a,-1,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for j in range(0,i+1):
        print("* ",end=" ")
    print()

enter the number of rows :12
                      *  *  *  *  *  *  *  *  *  *  *  *  *
                       *  *  *  *  *  *  *  *  *  *  *  *
                        *  *  *  *  *  *  *  *  *  *  *
                         *  *  *  *  *  *  *  *  *  *
                          *  *  *  *  *  *  *  *  *
                           *  *  *  *  *  *  *  *
                            *  *  *  *  *  *  *
                             *  *  *  *  *  *
                              *  *  *  *  *
                               *  *  *  *
                                *  *  *
                                 *  *
                                  *

In [52]:
a=int(input("enter the number of rows"))
k=a*2-2
for i in range(0,a):
    for j in range(0,k):
        print(end=" ")
    k=k-2
    for j in range(0,i+1):
        print("* ",end="  ")
    print()
k=a*2-2
for i in range(a,-1,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for j in range(0,i+1):
        print("* ",end=" ")
    print()

enter the number of rows12
                      *
                    *   *
                  *   *   *
                *   *   *   *
              *   *   *   *   *
            *   *   *   *   *   *
          *   *   *   *   *   *   *
        *   *   *   *   *   *   *   *
      *   *   *   *   *   *   *   *   *
    *   *   *   *   *   *   *   *   *   *
  *   *   *   *   *   *   *   *   *   *   *
*   *   *   *   *   *   *   *   *   *   *   *
                      *  *  *  *  *  *  *  *  *  *  *  *  *
                       *  *  *  *  *  *  *  *  *  *  *  *
                        *  *  *  *  *  *  *  *  *  *  *
                         *  *  *  *  *  *  *  *  *  *
                          *  *  *  *  *  *  *  *  *
                           *  *  *  *  *  *  *  *
                            *  *  *  *  *  *  *
                             *  *  *  *  *  *
                              *  *  *  *  *
                               *  *  *  *
                                *  *  *
                                 *  *
                                  *

In [53]:
a=int(input("enter the number of rows"))
k=a*2-2
for i in range(a,-1,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for j in range(0,i+1):
        print("* ",end=" ")
    print()

enter the number of rows12
                      *  *  *  *  *  *  *  *  *  *  *  *  *
                       *  *  *  *  *  *  *  *  *  *  *  *
                        *  *  *  *  *  *  *  *  *  *  *
                         *  *  *  *  *  *  *  *  *  *
                          *  *  *  *  *  *  *  *  *
                           *  *  *  *  *  *  *  *
                            *  *  *  *  *  *  *
                             *  *  *  *  *  *
                              *  *  *  *  *
                               *  *  *  *
                                *  *  *
                                 *  *
                                  *

In [54]:
a=int(input("enter the number of rows"))
for i in range(a+1,0,-1):
    for j in range(0,i-1):
        print("* ",end=" ")
    print()

enter the number of rows12
*  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [55]:
a=int(input("enter the number of rows"))
k=a*2-2
for i in range(0,a):
    for j in range(0,k):
        print(end=" ")
    k=k-1
    for j in range(0,i+1):
        print("* ",end="  ")
    print("")
k=a-2
for i in range(a,-1,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for j in range(0,i+1):
        print("*  ",end=" ")
    print("")

enter the number of rows12
                      *
                     *   *
                    *   *   *
                   *   *   *   *
                  *   *   *   *   *
                 *   *   *   *   *   *
                *   *   *   *   *   *   *
               *   *   *   *   *   *   *   *
              *   *   *   *   *   *   *   *   *
             *   *   *   *   *   *   *   *   *   *
            *   *   *   *   *   *   *   *   *   *   *
           *   *   *   *   *   *   *   *   *   *   *   *
          *   *   *   *   *   *   *   *   *   *   *   *   *
           *   *   *   *   *   *   *   *   *   *   *   *
            *   *   *   *   *   *   *   *   *   *   *
             *   *   *   *   *   *   *   *   *   *
              *   *   *   *   *   *   *   *   *
               *   *   *   *   *   *   *   *
                *   *   *   *   *   *   *
                 *   *   *   *   *   *
                  *   *   *   *   *
                   *   *   *   *
                    *   *   *
                     *   *
                      *

In [56]:
a=int(input("enter the number of rows"))
k=a*2-2
for i in range(0,a):
    for j in range(0,k):
        print(end=" ")
    k=k-1
    for j in range(0,i+1):
        print("* ",end="")
    print()
k=a-2
for i in range(a,-1,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for j in range(0,i+1):
        print("* ",end="")
    print()

enter the number of rows12
                      *
                     * *
                    * * *
                   * * * *
                  * * * * *
                 * * * * * *
                * * * * * * *
               * * * * * * * *
              * * * * * * * * *
             * * * * * * * * * *
            * * * * * * * * * * *
           * * * * * * * * * * * *
          * * * * * * * * * * * * *
           * * * * * * * * * * * *
            * * * * * * * * * * *
             * * * * * * * * * *
              * * * * * * * * *
               * * * * * * * *
                * * * * * * *
                 * * * * * *
                  * * * * *
                   * * * *
                    * * *
                     * *
                      *

In [57]:
a=int(input("enter the number of rows"))
k=a-2
for i in range(a,-1,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for j in range(0,i+1):
        print("* ",end="")
    print("")
    k=a*2-2
for i in range(0,a):
    for j in range(0,k):
        print(end=" ")
    k=k-1
    for j in range(0,i+1):
        print("*  ",end="")
    print()

enter the number of rows12
          * * * * * * * * * * * * *
                      * * * * * * * * * * * *
                      * * * * * * * * * * *
                      * * * * * * * * * *
                      * * * * * * * * *
                      * * * * * * * *
                      * * * * * * *
                      * * * * * *
                      * * * * *
                      * * * *
                      * * *
                      * *
                      *
                      *
                     *  *
                    *  *  *
                   *  *  *  *
                  *  *  *  *  *
                 *  *  *  *  *  *
                *  *  *  *  *  *  *
               *  *  *  *  *  *  *  *
              *  *  *  *  *  *  *  *  *
             *  *  *  *  *  *  *  *  *  *
            *  *  *  *  *  *  *  *  *  *  *
           *  *  *  *  *  *  *  *  *  *  *  *

In [58]:
a=int(input("enter the number of rows :"))
for i in range(0,a):
    for j in range(0,i+1):
        print("* ",end=" ")
    print()

enter the number of rows :12
*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *

In [59]:
a=int(input("enter the number of rows "))
k=a*2-2
for i in range(0,a):
    for j in range(0,k):
        print(end=" ")
    k=k-2
    for j in range(0,i+1):
        print("* ",end="")
    print()

enter the number of rows 12
                      *
                    * *
                  * * *
                * * * *
              * * * * *
            * * * * * *
          * * * * * * *
        * * * * * * * *
      * * * * * * * * *
    * * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * *

In [60]:
a=int(input("enter the number of rows:"))
k=a*2-2
for i in range(0,a):
    for j in range(0,k):
        print(end=" ")
    k=k-2
    for j in range(0,i+1):
        print("* ",end=" ")
    print()

enter the number of rows:12
                      *
                    *  *
                  *  *  *
                *  *  *  *
              *  *  *  *  *
            *  *  *  *  *  *
          *  *  *  *  *  *  *
        *  *  *  *  *  *  *  *
      *  *  *  *  *  *  *  *  *
    *  *  *  *  *  *  *  *  *  *
  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *

In [61]:
a=int(input("enter the number of rows :"))
k=a*2-2
for i in range(a+1,0,-1):
    for j in range(0,k,-1):
        print(end=" ")
    k=k-1
    for j in range(0,i+1):
        print("* ",end="")
    print()

enter the number of rows :12
* * * * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *

In [62]:
a=int(input('enter the number of rows'))
for i in range (a+1,0,-1):
    for j in range(0,i-1):
        print("* ",end=" ")
    print()

enter the number of rows12
*  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [63]:
a=int(input("enter the number of rows :"))
for i in range(a+1,0,-1):
    for j in range(0,i-1):
        print("* ",end=" ")
    print()

enter the number of rows :12
*  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [64]:
a=int(input("enter the number of rows :"))
for i in range(0,a):
    for j in range(0,a+6):
        print("* ",end=" ")
    print()

enter the number of rows :12
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *

In [65]:
a=int(input("enter the number of rows :"))
k=a*2-2
for i in range(a,-1,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for j in range(0,i+1):
        print("* ",end=" ")
    print()

enter the number of rows :12
                      *  *  *  *  *  *  *  *  *  *  *  *  *
                       *  *  *  *  *  *  *  *  *  *  *  *
                        *  *  *  *  *  *  *  *  *  *  *
                         *  *  *  *  *  *  *  *  *  *
                          *  *  *  *  *  *  *  *  *
                           *  *  *  *  *  *  *  *
                            *  *  *  *  *  *  *
                             *  *  *  *  *  *
                              *  *  *  *  *
                               *  *  *  *
                                *  *  *
                                 *  *
                                  *

In [66]:
a=int(input("enter the number of rows :"))
k=a*2-2
for i in range(0,a):
    for j in range(0,k):
        print(end=" ")
    k=k-1
    for j in range(0,i+1):
        print("* ",end="")
    print()
k=a-2
for i in range(a,-1,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for j in range(0,i+1):
        print("* ",end="")
    print()

enter the number of rows :12
                      *
                     * *
                    * * *
                   * * * *
                  * * * * *
                 * * * * * *
                * * * * * * *
               * * * * * * * *
              * * * * * * * * *
             * * * * * * * * * *
            * * * * * * * * * * *
           * * * * * * * * * * * *
          * * * * * * * * * * * * *
           * * * * * * * * * * * *
            * * * * * * * * * * *
             * * * * * * * * * *
              * * * * * * * * *
               * * * * * * * *
                * * * * * * *
                 * * * * * *
                  * * * * *
                   * * * *
                    * * *
                     * *
                      *

In [67]:
a=int(input("enter the number of rows :"))
k=a*2-2
for i in range(0,a):
    for j in range(0,k):
        print(end=" ")
    k=k-1
    for j in range(0,i+1):
        print("* ",end="")
    print()
k=a-2
for i in range(a,-1,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for j in range(0,i+1):
        print("* ",end="")
    print()

enter the number of rows :12
                      *
                     * *
                    * * *
                   * * * *
                  * * * * *
                 * * * * * *
                * * * * * * *
               * * * * * * * *
              * * * * * * * * *
             * * * * * * * * * *
            * * * * * * * * * * *
           * * * * * * * * * * * *
          * * * * * * * * * * * * *
           * * * * * * * * * * * *
            * * * * * * * * * * *
             * * * * * * * * * *
              * * * * * * * * *
               * * * * * * * *
                * * * * * * *
                 * * * * * *
                  * * * * *
                   * * * *
                    * * *
                     * *
                      *

In [68]:
a=int(input("enter the number of rows :"))
k=a-2
for i in range(a,-1,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for j in range(0,i+1):
        print("* ",end="")
    print()
k=a*2-2
for i in range(0,a):
    for j in range(0,k):
        print(end=" ")
    k=k-1
    for j in range(0,i+1):
        print("* ",end="")
    print()

enter the number of rows :12
          * * * * * * * * * * * * *
           * * * * * * * * * * * *
            * * * * * * * * * * *
             * * * * * * * * * *
              * * * * * * * * *
               * * * * * * * *
                * * * * * * *
                 * * * * * *
                  * * * * *
                   * * * *
                    * * *
                     * *
                      *
                      *
                     * *
                    * * *
                   * * * *
                  * * * * *
                 * * * * * *
                * * * * * * *
               * * * * * * * *
              * * * * * * * * *
             * * * * * * * * * *
            * * * * * * * * * * *
           * * * * * * * * * * * *

In [69]:
a=int(input("number of rows :"))
for i in range(0,a):
    for j in range (0,i+1):
        print("* ",end=" ")
    print()

number of rows :12
*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *

In [70]:
a=int(input("number of rows :"))
k=a*2-2
for i in range(0,a):
    for j in range(0,k):
        print(end=" ")
    k=k-2
    for j in range(0,i+1):
        print("* ",end="")
    print()

number of rows :12
                      *
                    * *
                  * * *
                * * * *
              * * * * *
            * * * * * *
          * * * * * * *
        * * * * * * * *
      * * * * * * * * *
    * * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * *

In [71]:
a=int(input("number of rows :"))
k=a*2-2
for i in range(0,a):
    for j in range(0,k):
        print(end=" ")
    k=k-2
    for j in range(0,a+1):
        print("* ",end=" ")
    print()

number of rows :12
                      *  *  *  *  *  *  *  *  *  *  *  *  *
                    *  *  *  *  *  *  *  *  *  *  *  *  *
                  *  *  *  *  *  *  *  *  *  *  *  *  *
                *  *  *  *  *  *  *  *  *  *  *  *  *
              *  *  *  *  *  *  *  *  *  *  *  *  *
            *  *  *  *  *  *  *  *  *  *  *  *  *
          *  *  *  *  *  *  *  *  *  *  *  *  *
        *  *  *  *  *  *  *  *  *  *  *  *  *
      *  *  *  *  *  *  *  *  *  *  *  *  *
    *  *  *  *  *  *  *  *  *  *  *  *  *
  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *

In [72]:
a=int(input("number of rows :"))
k=a*2-2
for i in range(0,a):
    for j in range(0,k):
        print(end=" ")
    k=k-2
    for j in range(0,i+1):
        print("* ",end=" ")
    print()

number of rows :12
                      *
                    *  *
                  *  *  *
                *  *  *  *
              *  *  *  *  *
            *  *  *  *  *  *
          *  *  *  *  *  *  *
        *  *  *  *  *  *  *  *
      *  *  *  *  *  *  *  *  *
    *  *  *  *  *  *  *  *  *  *
  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *

In [9]:
a=int(input("enter the number of rows :"))
for i in range(a+1):
    for j in range(i):
        print(i,end=" ")
    print("")

enter the number of rows :10

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10

In [10]:
a=int(input("enter the number of rows :"))
for i in range(a+1):
    for j in range(i):
        print(i,end=" ")
    print()

enter the number of rows :13

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10
11 11 11 11 11 11 11 11 11 11 11
12 12 12 12 12 12 12 12 12 12 12 12
13 13 13 13 13 13 13 13 13 13 13 13 13

In [12]:
a=int(input("enter the number of rows :"))
for i in range(1,a+1):
    for j in range(1,i+1):
        print(j,end="  ")
    print()

enter the number of rows :32
1
1  2
1  2  3
1  2  3  4
1  2  3  4  5
1  2  3  4  5  6
1  2  3  4  5  6  7
1  2  3  4  5  6  7  8
1  2  3  4  5  6  7  8  9
1  2  3  4  5  6  7  8  9  10
1  2  3  4  5  6  7  8  9  10  11
1  2  3  4  5  6  7  8  9  10  11  12
1  2  3  4  5  6  7  8  9  10  11  12  13
1  2  3  4  5  6  7  8  9  10  11  12  13  14
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32

In [13]:
a=int(input("enter the number of rows :"))
for i in range(a+1):
    for j in range(i):
        print(i,end=" ")
    print()

enter the number of rows :12

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10
11 11 11 11 11 11 11 11 11 11 11
12 12 12 12 12 12 12 12 12 12 12 12

In [14]:
a=int(input("enter the number of rows :"))
for i in range(1,a+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

enter the number of rows :12
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10 11
1 2 3 4 5 6 7 8 9 10 11 12

In [18]:
a=int(input("enter the number of rows :"))
for i in range(a+1):
    for j in range(i):
        print(i,end=" ")
    print()
for i in range(1,a+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

enter the number of rows :10

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [19]:
a=int(input ("enter the number of rows :"))
for i in range(0,a):
    for j in range(0,i):
        print("* ",end=" ")
    print()

enter the number of rows :12

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *

In [20]:
a=int(input("enter the number of rows :"))
k=a*2-2
for i in range (0,a):
    for  j in range(0,k):
        print(end=" ")
    k=k-2
    for j in range(0,i+1):
        print("* ",end="")
    print()

enter the number of rows :12
                      *
                    * *
                  * * *
                * * * *
              * * * * *
            * * * * * *
          * * * * * * *
        * * * * * * * *
      * * * * * * * * *
    * * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * *

In [21]:
a=int(input("enter the number of rows :"))
k=a*2-2
for i in range(0,a):
    for j in range(0,k):
        print(end=" ")
    k=k-2
    for j in range(0,i+1):
        print("* ",end=" ")
    print()

enter the number of rows :12
                      *
                    *  *
                  *  *  *
                *  *  *  *
              *  *  *  *  *
            *  *  *  *  *  *
          *  *  *  *  *  *  *
        *  *  *  *  *  *  *  *
      *  *  *  *  *  *  *  *  *
    *  *  *  *  *  *  *  *  *  *
  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *

In [22]:
a=int(input("enter the number of rows :"))
k=a*2-2
for i in range(0,a):
    for j in range(0,k):
        print(end=" ")
    k=k-2
    for j in range(0,a+1):
        print("* ",end=" ")
    print()

enter the number of rows :12
                      *  *  *  *  *  *  *  *  *  *  *  *  *
                    *  *  *  *  *  *  *  *  *  *  *  *  *
                  *  *  *  *  *  *  *  *  *  *  *  *  *
                *  *  *  *  *  *  *  *  *  *  *  *  *
              *  *  *  *  *  *  *  *  *  *  *  *  *
            *  *  *  *  *  *  *  *  *  *  *  *  *
          *  *  *  *  *  *  *  *  *  *  *  *  *
        *  *  *  *  *  *  *  *  *  *  *  *  *
      *  *  *  *  *  *  *  *  *  *  *  *  *
    *  *  *  *  *  *  *  *  *  *  *  *  *
  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *

In [28]:
a=int(input("enter the number of rows :"))
k=a*2-2
for i in range(a+1,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for j in range(0,i):
        print("* ",end=" ")
    print()

enter the number of rows :12
                      *  *  *  *  *  *  *  *  *  *  *  *  *
                       *  *  *  *  *  *  *  *  *  *  *  *
                        *  *  *  *  *  *  *  *  *  *  *
                         *  *  *  *  *  *  *  *  *  *
                          *  *  *  *  *  *  *  *  *
                           *  *  *  *  *  *  *  *
                            *  *  *  *  *  *  *
                             *  *  *  *  *  *
                              *  *  *  *  *
                               *  *  *  *
                                *  *  *
                                 *  *
                                  *

In [30]:
a=int(input("enter the number of rows :"))
k=a-2
for i in range(a,-1,-1):
    for j in range(k,-1,-1):
        print(end=" ")
    k=k+1
    for j in range(0,i+1):
        print("* ",end="")
    print()

enter the number of rows :12
           * * * * * * * * * * * * *
            * * * * * * * * * * * *
             * * * * * * * * * * *
              * * * * * * * * * *
               * * * * * * * * *
                * * * * * * * *
                 * * * * * * *
                  * * * * * *
                   * * * * *
                    * * * *
                     * * *
                      * *
                       *

In [32]:
a=int(input("enter the number of rows  :"))
k=a*2-2
for i in range(0,a):
    for j in range(0,k):
        print(end="")
    k=k-2
    for j in range(0,i+1):
        print("* ",end=" ")
    print()
k=a-2
for i in range(a+1,0,-1):
    for j in range(k,0,-1):
        print(end="")
    k=k+1
    for j in range(0,i):
        print("* ",end=" ")
    print()

enter the number of rows  :12
*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [35]:
a=int(input("enter the number of rows :"))
k=a*2-2
for i in range(0,a):
    for j in range(0,k):
        print(end=" ")
    k=k-1
    for j in range(0,i+1):
        print("* ",end="")
    print()
k=a-2
for i in range(a+1,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for j in range(0,i):
        print("* ",end="")
    print()

enter the number of rows :12
                      *
                     * *
                    * * *
                   * * * *
                  * * * * *
                 * * * * * *
                * * * * * * *
               * * * * * * * *
              * * * * * * * * *
             * * * * * * * * * *
            * * * * * * * * * * *
           * * * * * * * * * * * *
          * * * * * * * * * * * * *
           * * * * * * * * * * * *
            * * * * * * * * * * *
             * * * * * * * * * *
              * * * * * * * * *
               * * * * * * * *
                * * * * * * *
                 * * * * * *
                  * * * * *
                   * * * *
                    * * *
                     * *
                      *

In [36]:
a=int(input("enter the number of rows :"))
k=a-2
for i in range(a+1,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for j in range(0,i):
        print("* ",end="")
    print()
k=a*2-2
for i in range(0,a):
    for j in range(0,k):
        print(end=" ")
    k=k-1
    for j in range(0,i+1):
        print("* ",end="")
    print()

enter the number of rows :12
          * * * * * * * * * * * * *
           * * * * * * * * * * * *
            * * * * * * * * * * *
             * * * * * * * * * *
              * * * * * * * * *
               * * * * * * * *
                * * * * * * *
                 * * * * * *
                  * * * * *
                   * * * *
                    * * *
                     * *
                      *
                      *
                     * *
                    * * *
                   * * * *
                  * * * * *
                 * * * * * *
                * * * * * * *
               * * * * * * * *
              * * * * * * * * *
             * * * * * * * * * *
            * * * * * * * * * * *
           * * * * * * * * * * * *

In [37]:
a=int(input("enter the number of rows :"))
for i in range(a+1):
    for j in range(i):
        print(i,end=" ")
    print()

enter the number of rows :12

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10
11 11 11 11 11 11 11 11 11 11 11
12 12 12 12 12 12 12 12 12 12 12 12

In [39]:
a=int(input("enter the number of rows :"))
for i in range(1,a+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

enter the number of rows :12
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10 11
1 2 3 4 5 6 7 8 9 10 11 12